.navbar {
  padding: 0 !important; }
  .navbar .container-fluid {
    border-bottom: 1px solid #444444;
    background-color: #ff8080 !important; }
    .navbar .container-fluid img {
      width: 55%; }
    .navbar .container-fluid .collapse {
      margin: auto; }
      .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
        color: #faebd7;
        font-size: 18px; }
        .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
          border-bottom: 0.5mm solid #fff; }
    .navbar .container-fluid .btn-outline-success {
      --bs-btn-color: #ffff !important;
      --bs-btn-border-color: $color_texto !important;
      --bs-btn-hover-color: #fff !important;
      --bs-btn-hover-bg: $color_texto !important;
      --bs-btn-hover-border-color: #fff !important;
      --bs-btn-active-bg: #000000 !important;
      --bs-btn-active-border-color: $color_texto !important; }
    .navbar .container-fluid .btn {
      font-size: 20px !important;
      margin-right: 10px !important;
      border: 1px solid #fff !important; }

.footer {
  background-color: #ff8080;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #444444;
  overflow: hidden; }
  .footer .footer__h2 {
    text-align: center;
    color: #ffff; }
  .footer .footer__icon {
    align-items: center;
    display: flex; }
    .footer .footer__icon .footer__imgicon {
      width: 40px;
      height: 40px;
      margin: 8px; }
    .footer .footer__icon .footer__p {
      font-size: 20px;
      padding: 15px;
      color: #faebd7; }

* {
  font-family: Georgia, "Times New Roman", Times, serif !important; }

body {
  background-color: #faebd7 !important; }

main .main__title {
  text-align: center; }
  main .main__title .h1-title {
    margin-top: 40px;
    color: #444444;
    font-size: 50px; }
  main .main__title .h2-title {
    font-size: 30px;
    color: #444444; }

main .container-xl .main__img__conteiner--muestra {
  width: 100%;
  height: 85%; }

main .container-xl .main__muestra--divp {
  width: auto;
  position: relative;
  text-align: center; }
  main .container-xl .main__muestra--divp .main__precio {
    position: absolute;
    margin-top: -50px;
    background-color: #ff8080;
    display: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #faebd7;
    width: 100%;
    opacity: 85%; }

main .container-xl .main__muestra_cont:hover .main__precio {
  display: block; }

main .main__h2--title {
  text-align: center;
  font-size: 25px;
  color: #faebd7;
  padding: 6px;
  background-color: #ff8080;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
  margin: 40px 18px; }

.container__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu productos";
  margin-top: 30px; }
  .container__main .main__categoria {
    grid-area: menu; }
    .container__main .main__categoria .main__tittle--li {
      list-style: none; }
      .container__main .main__categoria .main__tittle--li a {
        text-decoration: none;
        color: #444444;
        font-size: 20px; }
      .container__main .main__categoria .main__tittle--li .main__li--submenu {
        list-style: none;
        margin-left: -40px;
        padding: 10px; }
  .container__main .container-xl {
    grid-area: productos;
    display: flex; }
    .container__main .container-xl .main__div-cat {
      display: grid;
      grid-template-columns: 1fr 3fr;
      border: 1px solid #fff;
      width: 95%;
      height: 220px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #fff;
      justify-content: space-between;
      align-items: center; }
      .container__main .container-xl .main__div-cat .main__catalogo--parrafo {
        border-left: 1px solid #4444;
        width: 90%;
        color: #444444;
        padding: 10px;
        margin: 10px auto; }
        .container__main .container-xl .main__div-cat .main__catalogo--parrafo .main__catalogo--comprar {
          background-color: lime;
          color: #fff;
          border: #444444;
          padding: 5px 10px;
          font-size: 20px;
          margin-top: 10px; }
      .container__main .container-xl .main__div-cat .main__img__conteiner--muestra {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-left: 10px;
        border-radius: 10px; }

.main__register {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px; }
  .main__register .contenedor__registrar .main__login__contenedor {
    margin: 40px auto;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-color: #444444;
    margin: auto;
    text-align: center; }
    .main__register .contenedor__registrar .main__login__contenedor .main__h2--login {
      font-size: 30px;
      color: #fff; }
    .main__register .contenedor__registrar .main__login__contenedor .submit {
      margin: 17px; }
      .main__register .contenedor__registrar .main__login__contenedor .submit .main__sumbit {
        padding: 20px;
        width: 70%; }
    .main__register .contenedor__registrar .main__login__contenedor .main__calendario {
      font-size: 25px;
      color: #fff;
      padding: 15px; }
    .main__register .contenedor__registrar .main__login__contenedor .main__sx {
      padding: 10px;
      color: #fff;
      background-color: #444444;
      margin: 10px; }
      .main__register .contenedor__registrar .main__login__contenedor .main__sx .main__sx--title {
        padding: 10px;
        color: #fff; }
      .main__register .contenedor__registrar .main__login__contenedor .main__sx .main__sumbit--cal {
        margin: 10px 4px 10px 10px; }
      .main__register .contenedor__registrar .main__login__contenedor .main__sx label {
        display: inline-block;
        margin: 10px; }
    .main__register .contenedor__registrar .main__login__contenedor .main__buttom {
      padding: 20px;
      background: black;
      font-size: 20px;
      color: #fff;
      border: 1px solid #faebd7;
      margin-bottom: 10px; }

.contenedor__nosotros {
  margin-top: 40px;
  text-align: center;
  font-size: 20px; }
  .contenedor__nosotros .main__img {
    width: 100%; }
  .contenedor__nosotros .main__h2--equipo {
    background-color: #444444;
    margin: 10px;
    color: #ffff;
    padding: 5px; }
  .contenedor__nosotros .main__equipo {
    display: flex;
    padding: 10px;
    text-align: center; }
    .contenedor__nosotros .main__equipo .main__equipo--personas {
      margin: 5px; }
      .contenedor__nosotros .main__equipo .main__equipo--personas .main__equipo--img {
        width: 100%;
        border-radius: 50%; }

.main__h2--title {
  text-align: center;
  font-size: 25px;
  color: #faebd7;
  padding: 6px;
  background-color: #ff8080;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
  margin: 40px 18px; }

.contenedor__comentarios {
  text-align: center; }
  .contenedor__comentarios .main__comentario {
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
    border: 1px solid #f4ebeb;
    margin: 20px auto;
    background-color: #f6f6ef; }
    .contenedor__comentarios .main__comentario:hover {
      border: 2px solid #ffffff; }
    .contenedor__comentarios .main__comentario .comentario__nombre {
      text-align: center; }
    .contenedor__comentarios .main__comentario .img__comentario {
      width: 80%;
      border-radius: 10%; }
    .contenedor__comentarios .main__comentario .main__parrafo {
      text-align: center;
      border: 1px solid #fff;
      border-radius: 5%;
      padding: 10px;
      margin-top: 10px;
      box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
      margin: 0;
      background-color: #f1eded; }

@media (min-width: 768px) and (max-width: 996px) {
  /*HEADER*/
  .d-flex {
    margin: 20px 0 !important; }
  .navbar-nav .nav-link.active {
    color: #faebd7 !important;
    font-size: 18px !important; }
  .navbar-nav a {
    text-align: center !important;
    color: #faebd7;
    font-size: 18px !important; }
  /*PRODUCTOS*/
  .container__main {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container__main .main__categoria {
      background-color: #444444;
      margin-bottom: 40px; }
      .container__main .main__categoria .main__tittle--li a {
        color: #faebd7; }
      .container__main .main__categoria .main__ul--subcat {
        display: none; }
      .container__main .main__categoria .main__ul--categoria:hover .main__ul--subcat {
        display: block; }
    .container__main .container-xl {
      display: flex;
      flex-direction: column; }
      .container__main .container-xl .main__div-cat {
        display: grid;
        grid-template-columns: 1fr 3fr;
        height: 220px; }
        .container__main .container-xl .main__div-cat .main__img__conteiner--muestra {
          width: 160px;
          height: 160px;
          object-fit: cover;
          margin: auto;
          border-radius: 10px; } }

@media (min-width: 320px) and (max-width: 425px) {
  /*HEADER*/
  .d-flex {
    margin: 20px 0 !important; }
  .navbar-nav .nav-link.active {
    color: #faebd7 !important;
    font-size: 18px; }
  .navbar-nav a {
    text-align: center !important;
    color: #faebd7;
    font-size: 18px; }
  /*PRODUCTOS*/
  .container__main {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container__main .main__categoria {
      background-color: #444444;
      margin-bottom: 40px; }
      .container__main .main__categoria .main__tittle--li a {
        color: #faebd7; }
      .container__main .main__categoria .main__ul--subcat {
        display: none; }
      .container__main .main__categoria .main__ul--categoria:hover .main__ul--subcat {
        display: block; }
    .container__main .container-xl {
      display: flex;
      flex-direction: column; }
      .container__main .container-xl .main__div-cat {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 350px; }
        .container__main .container-xl .main__div-cat .main__catalogo--parrafo {
          border-top: 1px solid #4444;
          border-left: none; }
        .container__main .container-xl .main__div-cat .main__img__conteiner--muestra {
          width: 150px;
          height: 150px;
          object-fit: cover;
          margin: auto;
          margin-top: 20px;
          border-radius: 10px; }
  /*NOSOTROS*/
  .main__equipo {
    display: flex;
    padding: 10px;
    text-align: center;
    flex-direction: column; }
  .main__equipo--img {
    width: 100%;
    border-radius: 50%; }
  /*REGISTRAR*/
  .contenedor__registrar {
    padding: 30px 0 !important;
    width: 100%; }
  /*FOOTER*/
  .footer__p {
    font-size: 15px; } }

@media (min-width: 0px) and (max-width: 320px) {
  .container__main {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container__main .main__categoria {
      background-color: #444444;
      margin-bottom: 40px; }
      .container__main .main__categoria .main__tittle--li a {
        color: #faebd7; }
      .container__main .main__categoria .main__ul--subcat {
        display: none; }
      .container__main .main__categoria .main__ul--categoria:hover .main__ul--subcat {
        display: block; }
    .container__main .container-xl {
      display: flex;
      flex-direction: column; }
      .container__main .container-xl .main__div-cat {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 350px; }
        .container__main .container-xl .main__div-cat .main__img__conteiner--muestra {
          width: 150px;
          height: 150px;
          object-fit: cover;
          margin: auto;
          margin-top: 20px;
          border-radius: 10px; }
  /*NOSOTROS*/
  .main__equipo {
    display: flex;
    padding: 10px;
    text-align: center;
    flex-direction: column; }
  .main__equipo--img {
    width: 100%;
    border-radius: 50%; }
  /*REGISTRAR*/
  .contenedor__registrar {
    padding: 30px 0 !important;
    width: 100%; }
  /*FOOTER*/
  .footer__p {
    font-size: 15px; } }

@media (min-width: 426px) and (max-width: 768px) {
  .d-flex {
    margin: 20px 0 !important; }
  .navbar-nav .nav-link.active {
    color: #faebd7 !important;
    font-size: 18px; }
  .navbar-nav a {
    text-align: center !important;
    color: #faebd7;
    font-size: 18px; }
  /*PRODUCTOS*/
  .container__main {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container__main .main__categoria {
      background-color: #444444;
      margin-bottom: 40px; }
      .container__main .main__categoria .main__tittle--li a {
        color: #faebd7; }
      .container__main .main__categoria .main__ul--subcat {
        display: none; }
      .container__main .main__categoria .main__ul--categoria:hover .main__ul--subcat {
        display: block; }
    .container__main .container-xl {
      display: flex;
      flex-direction: column; }
      .container__main .container-xl .main__div-cat {
        display: grid;
        grid-template-columns: 1fr 3fr;
        height: 220px; }
        .container__main .container-xl .main__div-cat .main__img__conteiner--muestra {
          width: 160px;
          height: 160px;
          object-fit: cover;
          margin: 10px 5px;
          border-radius: 10px; }
  /*NOSOTROS*/
  .main__equipo {
    display: flex;
    padding: 10px;
    text-align: center;
    flex-direction: column; }
  .main__equipo--img {
    width: 100%;
    border-radius: 50%; }
  /*REGISTRAR*/
  .contenedor__registrar {
    padding: 30px 0 !important;
    width: 100%; }
  /*FOOTER*/
  .footer__p {
    font-size: 15px; } }
