.navbar{
    padding: 0 !important;
    .container-fluid{
        img{
            width: 55%;
        }
        border-bottom: 1px solid $color_texto;
        background-color: $color_bck !important;
        .collapse {
            margin: auto;
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: $color_bck1;
                        font-size: 18px;
                        &:hover{
                            border-bottom: 0.5mm solid #fff;
                        }
                    }
                }
            }
        }
        .btn-outline-success{
        --bs-btn-color: #ffff !important;
        --bs-btn-border-color: $color_texto !important;
        --bs-btn-hover-color: #fff !important;
        --bs-btn-hover-bg: $color_texto !important;
        --bs-btn-hover-border-color: #fff !important;
        --bs-btn-active-bg: #000000 !important;
        --bs-btn-active-border-color: $color_texto !important;  
            }
        .btn{
        font-size: 20px !important;
        margin-right: 10px !important;
        border: 1px solid #fff !important;
            }
    }
}