.container__main{
    display: grid;
    grid-template-columns:1fr 3fr ;
    grid-template-rows: 1fr;
    grid-template-areas: "menu productos";
    margin-top: 30px;
    .main__categoria{
     grid-area: menu;
            .main__tittle--li{
                list-style: none;
                & a{
                    text-decoration: none;
                    color: $color_texto;
                    font-size: 20px;
                    
                }  
                .main__li--submenu{
                    list-style: none;
                    margin-left: -40px;
                    padding: 10px;
                }
            }

    }
    .container-xl{
        grid-area: productos;
        display: flex;
        .main__div-cat{
            display: grid;
            grid-template-columns: 1fr 3fr;
            border: 1px solid #fff;
            width: 95%;
            height: 220px;
            margin-bottom: 10px;
            border-radius: 10px;
            background-color: #fff;
            justify-content: space-between;
            align-items: center;
            &:hover{
           
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
            .main__catalogo--parrafo{
                border-left:1px solid $color_texto;
                width: 90%;
                color: $color_texto;
                padding: 10px;
                margin: 10px auto;
                .main__catalogo--comprar{
                    background-color: rgb(0, 255, 0);
                    color: #fff;
                    border: $color_texto;
                    padding: 5px 10px;
                    font-size: 17px;
                    margin-top: 10px;
                    &:active{
                        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
                    }
                }
            }
                .main__img__conteiner--muestra{
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    margin-left: 10px;
                    border-radius: 10px;
                }
        }
        
    }
}