
.container__main{
    display: grid;
    grid-template-columns:1fr 3fr ;
    grid-template-rows: 1fr;
    grid-template-areas: "menu productos";
    row-gap: 10px !important; 
    margin-top: 30px;
    .main__categoria{
     grid-area: menu;
            .main__tittle--li{
                list-style: none;
                & a{
                    text-decoration: none;
                    color: $color_texto;
                    font-size: 20px;
                    
                }
                
                .main__li--submenu{
                    list-style: none;
                    margin-left: -40px;
                    padding: 10px;
                }
            }

    }
    .container-xl{
        grid-area: productos;
          
    .border1{
        border: 1px solid #202020;
        text-align: center;
        padding: 5px;
        background-color: #fff;
    }
        .main__catalogo--parrafo{
            width: 90%;
            background-color: #202020;
            color: #fff;
            text-align: center;
            padding: 10px;
            opacity: 86%; 
            margin: 10px auto;
            .main__catalogo--comprar{
                background-color: rgb(255,0,0);
                color: $color_bck1;
                border: $color_texto;
                padding: 5px 10px;
                font-size: 16px;
                margin-top: 10px;
            }
        }
            .main__img__conteiner--muestra{
                width: 90%;
                height: 150px;
                object-fit: cover;
            }
    }
}