@media (min-width:768px) and(max-width:996px){
    /*HEADER*/
    .d-flex{
        margin:20px 0 !important;
    }
   
    .navbar{
        .container-fluid{
            .navbar-brand{
                width: 15% !important;
            }
            .navbar-nav{ 
                .nav-link.active{
                    color: $color_bck1 !important;
                    font-size: 18px !important;
                }
               
                & a {
                    text-align: center !important;
                    color: $color_bck1;
                    font-size: 18px !important;
                  }
                
                }
               
                .nav-carro{
                    margin:  auto;
                }
        }
        
    }
   
        /*PRODUCTOS*/
        .container__main{
            display: flex;
            flex-direction: column;
            text-align:center;
            .main__categoria{
                background-color: $color_texto;
                margin-bottom: 40px;
                .main__tittle--li a{
                    color: $color_bck1;
                }
                .main__ul--subcat{
                    display: none;
                   }
                   .main__ul--categoria:hover .main__ul--subcat{
                    display: block;
                }   
            } 
            .container-xl{
                display: flex;
                flex-direction: column;
                .main__div-cat{
                    margin: 10px auto;
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    height: 220px;
                 
                    .main__img__conteiner--muestra{
                       
                        width: 160px;
                        height: 160px;
                        object-fit: cover;
                        margin: auto;
                      
                        border-radius: 10px;
                    }
                }
            }       
        }
}

@media screen and (min-width:1025px){
    .navbar{
        .container-fluid{
            .navbar-nav{
                margin-left: 8%;
                .nav-link.active{
                    color: $color_bck1 !important;
                    font-size: 18px;
                }
                & a {
                    text-align: center !important;
                    color: $color_bck1;
                    font-size: 18px !important;
                  }
                }
        }
    }
}
@media (min-width:320px)and(max-width:425px){
    /*HEADER*/  
    .d-flex{
        margin:20px 0 !important;
    }    
    .navbar{
        .container-fluid{
            .navbar-brand{
                width: 25% !important;
            }
            .navbar-nav{
                .nav-link.active{
                    color: $color_bck1 !important;
                    font-size: 18px;
                }
                & a {
                    text-align: center !important;
                    color: $color_bck1;
                    font-size: 18px;
                  }
                }

                .nav-carro{
                    margin:  auto;
                }
        }
    }
                
     /*PRODUCTOS*/                    
     .container__main{
        display: flex;
        flex-direction: column;
        text-align:center;
        .main__categoria{
            background-color: $color_texto;
            margin-bottom: 40px;
            .main__tittle--li a{
                color: $color_bck1;
            }
            .main__ul--subcat{
                display: none;
               }
               .main__ul--categoria:hover .main__ul--subcat{
                display: block;
            }   
        } 
        .container-xl{
            display: flex;
            flex-direction: column;
            .main__div-cat{
                margin: 10px auto;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 2fr;
                height: 350px;
                .main__catalogo--parrafo{
                    border-top: 1px solid $color_texto;
                    border-left: none;
                }
                .main__img__conteiner--muestra{
                   
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    margin: auto;
                    margin-top: 20px;
                    border-radius: 10px;
                }
    
            }
        
        }              
    }
    /*NOSOTROS*/
    .main__equipo{
        display: flex;
        padding: 10px;
        text-align:center;
        flex-direction: column; 
    }
    .main__equipo--img{
        width: 100%;
        border-radius: 50%;
    }
    /*REGISTRAR*/
    .contenedor__registrar{
        padding: 30px 0 !important;
        width: 100%;
    }
     /*FOOTER*/
     .footer__p{
        font-size: 15px;
    }
}

@media (min-width:0px)and(max-width:320px){
    .d-flex{
        margin:20px 0 !important;
    }
    .navbar{
        .container-fluid{
            .navbar-brand{
                width: 30% !important;
            }
            .navbar-nav{
                .nav-link.active{
                    color: $color_bck1 !important;
                    font-size: 18px;
                }
                & a {
                    text-align: center !important;
                    color: $color_bck1;
                    font-size: 18px;
                  }
                }
                .nav-carro{
                    margin:  auto;
                }
        }
    }
    .container__main{
        display: flex;
        flex-direction: column;
        text-align:center;
        .main__categoria{
            background-color: $color_texto;
            margin-bottom: 40px;
            .main__tittle--li a{
                color: $color_bck1;
            }
            .main__ul--subcat{
                display: none;
               }
               .main__ul--categoria:hover .main__ul--subcat{
                display: block;
            }   
        }  
        .container-xl{
            display: flex;
            flex-direction: column;
            .main__div-cat{
                margin: 10px auto;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 2fr;
                height: 350px;
                .main__catalogo--parrafo{
                    border-top: 1px solid $color_texto;
                    border-left: none;
                }
                .main__img__conteiner--muestra{
                   
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    margin: auto;
                    margin-top: 20px;
                    border-radius: 10px;
                }
    
            }
        
        }   
    }
      /*NOSOTROS*/
      .main__equipo{
        display: flex;
        padding: 10px;
        text-align:center;
        flex-direction: column; 
    }
    .main__equipo--img{
        width: 100%;
        border-radius: 50%;
    }
    /*REGISTRAR*/
    .contenedor__registrar{
        padding: 30px 0 !important;
        width: 100%;
    }
     /*FOOTER*/
     .footer__p{
        font-size: 15px;
    }
    
}
@media (min-width:426px)and(max-width:768px){
    .d-flex{
        margin:20px 0 !important;
    }           .navbar{
        .container-fluid{
            .navbar-brand{
                width: 20% !important;
            }
            .navbar-nav{
                .nav-link.active{
                    color: $color_bck1 !important;
                    font-size: 18px;
                }
                & a {
                    text-align: center !important;
                    color: $color_bck1;
                    font-size: 18px;
                  }
                }
                .nav-carro{
                    margin:  auto;
                }
        }
    }
                 
     /*PRODUCTOS*/                    
    .container__main{
        display: flex;
        flex-direction: column;
        text-align:center;
        .main__categoria{
            background-color: $color_texto;
            margin-bottom: 40px;
            .main__tittle--li a{
                color: $color_bck1;
            }
            .main__ul--subcat{
                display: none;
               }
               .main__ul--categoria:hover .main__ul--subcat{
                display: block;
            }   
        } 
        .container-xl{
            display: flex;
            flex-direction: column;
            .main__div-cat{
                display: grid;
                grid-template-columns: 1fr 3fr;
                height: 220px;
                margin: 10px auto;
                .main__img__conteiner--muestra{
                    width: 160px;
                    height: 160px;
                    object-fit: cover;
                    margin: 10px 5px;
                  
                    border-radius: 10px;
                }
    
            }
        
        }   
        
    }
      /*NOSOTROS*/
      .main__equipo{
        display: flex;
        padding: 10px;
        text-align:center;
        flex-direction: column; 
    }
    .main__equipo--img{
        width: 100%;
        border-radius: 50%;
    }
    /*REGISTRAR*/
    .contenedor__registrar{
        padding: 30px 0 !important;
        width: 100%;
    }
     /*FOOTER*/
     .footer__p{
        font-size: 15px;
    }
}